/* Should be centralised */
@custom-media --screen-desktop (min-width: 728px);

.brand-area {
  /* TODO: Fix specificity */
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;

  @media (--screen-desktop) {
    /* TODO: Fix specificity */
    /* stylelint-disable-next-line declaration-no-important */
    display: block !important;
    width: var(--sidebar-width);
  }
}

.navigation-area {
  --app-bar-padding-y: calc(var(--component-padding-y, 1rem) / 2);
  --form-control-padding-y: 0.75rem;

  /* TODO: animation */
  transition: all 0.3s ease-in, border 0s ease-in 0.3s;

  @media (--screen-desktop) {
    flex: 2 2 60%;
  }
}

/* This will work until the user avatar become clickable */
.user-area {
  --app-bar-padding-y: calc(var(--component-padding-y, 1rem) / 2);
  --avatar-size: 2.5rem;

  @media (--screen-desktop) {
    flex: 1 1 30%;
    text-align: right;
  }
}

.toggle {
  @media (--screen-desktop) {
    /* TODO: Fix specificity */
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
