.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: saturate(0) blur(var(--overlay-blur, 2px));
}

.light {
  background-color: rgba(255, 255, 255, 0.5);
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.blur {
  --overlay-blur: 1rem;
}
