.documentation-wrapper {
    margin: 15px 0;
}

.mullty-wrapper {
    padding: 20px 0;
    margin: 0;
}

.documentation-header {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color:  var(--color-text-secondary);
}

.placement {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 146px);
}

.placement::-webkit-scrollbar {
    width: 0;
}

.placement::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 992px) {
    .placement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: unset;
        max-height: max-content;
    }
}

.placement-height {
    max-height: 2224px;
}

.placement-height::-webkit-scrollbar {
    width: 0;
}

.placement-height::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 992px) {
    .placement-height {
        max-height: unset;
    }
}

.documentation-inner-wrapper {
    width: calc(100% - 370px);
    padding-right: 5px;
    overflow-y: scroll;
}

.documentation-inner-wrapper::-webkit-scrollbar {
    width: 0;
}

.documentation-inner-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 992px) {
    .documentation-inner-wrapper {
        width: 100%;
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.docs-title {
    padding: 0 0 16px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: var(--color-text-secondary);
    margin: 0;
}

.divider {
    width: 100%;
    height: 24px;
    margin: 24px 0 16px;
    background: var(--color-bg-layout);
    border-radius: 2px;
}

.inner-spacing {
    /* Add any additional spacing styles if needed */
}

.sub-border {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #000;
    border-radius: 2px;
}

.documentation-item {
    padding: 8px 0;
    border-bottom: 2px dashed #eee;
}

.documentation-item p {
    margin: 24px 0;
    line-height: 24px;
}

.documentation-item ul {
    text-align: left;
    margin-left: -1.5rem;
}

.documentation-item li {
    line-height: 2rem;
    list-style-type: disc;
}

.documentation-item-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-text-secondary);
    text-align: left;
}

.documentation-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-secondary);
}

.membership {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 24px;
    padding: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 2px;
}

.membership.enabled {
    color: var(--color-text-secondary);
    background: #fae2d2;
}

.membership.disabled {
    color: #bdbdbd;
    background: var(--color-bg-layout);
}

.docs-image {
    width: 100%;
    object-fit: contain;
}

.logo-banner {
    width: 50%;
}

.logo-personalised {
    width: 50%;
}

.sub-title-wrapper {
    display: flex;
    gap: 24px;
}

@media (max-width: 876px) {
    .sub-title-wrapper {
        flex-wrap: wrap;
        gap: 0;
    }
}

.type-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (max-width: 876px) {
    .type-wrapper {
        flex-wrap: wrap;
    }
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 876px) {
    .link-wrapper {
        margin-top: 16px;
        margin-left: 8px;
    }
}

@media (max-width: 780px) {
    .link-wrapper {
        justify-content: flex-start;
        width: 100%;
        margin-left: unset;
    }
}

.link-text {
    margin-right: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-success);
    letter-spacing: 0.035px;
    cursor: pointer;
    text-decoration-line: underline;
}

.documentation-sub-title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-secondary);
}

.documentation-sub-title p {
    margin: 8px 0;
}

.documentation-sub-description {
    /* Base styles */
}

.documentation-sub-description p {
    margin: 0 0 24px;
}

.documentation-sub-description.sub-border {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #000;
    border-radius: 2px;
}

.documentation-sub-description.sub-border p {
    margin: 0 0 24px;
}

.documentation-item .highlighted {
    color: var(--color-primary);
}

.docs-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.text-alignment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 40px;
    padding-left: 24px;
    border-left: 1px dashed #9e9e9e;
}

.img-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    padding-right: 24px;
}

.img-spread {
    width: 100%;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-dark);
}

.badge-image {
    width: max-content;
    height: 40px;
}

.badge-image-height {
    height: 90px;
}

.tutorial-wrapper {
    display: flex;
    align-items: center;
    margin-left: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--success);
    letter-spacing: 0.035px;
    cursor: pointer;
    gap: 4px;
}

@media (max-width: 876px) {
    .tutorial-wrapper {
        margin-left: 8px;
    }
}

@media (max-width: 780px) {
    .tutorial-wrapper {
        width: 100%;
        margin-top: 16px;
        margin-left: unset;
    }
}

.navigator {
    position: fixed;
    right: 52px;
    bottom: 52px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: var(--color-border);
    border: 1px solid var(--color-border-primary);
    border-radius: 2px;
}

@media (max-width: 992px) {
    .navigator {
        display: flex;
    }
}

.navigator-logo {
    transform: rotate(-90deg);
}
