@custom-media --screen-until-desktop (max-width: 1199px);

.container {
  white-space: nowrap;
}

.name {
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
