.container {
  --app-bar-padding-y: calc(var(--component-padding-y, 1rem) / 2);
  --app-bar-padding-x: calc(var(--component-padding-y, 1rem) / 2);
  --form-control-padding-y: 0.5rem;
  --form-control-padding-x: 0.5rem;

  position: relative;
  flex: 2 2 60%;
}

.repository-select {
  --select-background: var(--app-bar-background);

  /* Disabling because calc(Xpx - 0); on input doesn't work */
  /* stylelint-disable-next-line length-zero-no-unit */
  --form-control-border-width: 0px;
  position: absolute;
  right: 0;
  left: 0;

  &:focus-within {
    --form-control-border-width: 1px;
  }
}

.repository-select::after {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 0;
  height: 0;
  content: '';
  border-top: 5px solid var(--black);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: translateY(-50%);
}

.repository-select ul {
  font-weight: initial;
}
