.container {
  --app-bar-padding-y: calc(var(--component-padding-y, 1rem) / 2);
  --app-bar-padding-x: calc(var(--component-padding-y, 1rem) / 2);
  --form-control-padding-y: 0.75rem;
  --form-control-padding-x: 0.5rem;

  position: relative;
  flex: 2 2 60%;
}

.repository-select {
  --select-background: var(--app-bar-background);
  --form-control-border-width: 0;

  &:focus-within {
    --form-control-border-width: 1px;
  }
}
