.repository-logo {
  margin-left: 1rem;
}

.repository-logo-default {
  width: 35px;
  height: 35px;
  margin-left: 1rem;
}

.bell-wrapper {
  position: relative;
}

.count {
  position: absolute;
  bottom: 50%;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background: #ff5f52;
  border-radius: 100%;
}

.restart-button {
  display: flex;
  align-items: center;
  padding: calc(var(--component-padding-y, 1rem) / 2);
  margin-top: 1.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--gray-500);
  cursor: pointer;
}

.restart-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.9rem;
}
