.repository-logo {
  margin-left: 1rem;
}

.repository-logo-default {
  width: 35px;
  height: 35px;
  margin-left: 1rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}

.repository-logo-big {
  width: 81px;
  height: 81px;
}

.institution {
  margin: 10px 0 2px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #424242;
  text-align: center;
  letter-spacing: 0.024px;
}

.restart-button {
  display: flex;
  align-items: center;
  padding: calc(var(--component-padding-y, 1rem) / 2);
  margin-top: 1.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--gray-500);
  cursor: pointer;
}

.restart-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.9rem;
}
