.access-placeholder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 44px 0;
}

.access-placeholder-text {
  margin: 30px 0 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #666;
  text-align: center;
}

.access-placeholder-text p {
  text-align: center;
}

.access-placeholder-custom-width {
  width: 600px;
}

.access-placeholder-upgrade-btn {
  text-transform: capitalize;
}

.access-placeholder-height {
  height: calc(100vh - 115px);
}
