.change-password-iframe {
  --card-padding-x: 0;
  --card-padding-y: 0;
  width: 100%;
  max-width: 50rem;

  box-shadow: none;
}

.email {
  color: var(--primary);
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 20px;
}

.form-inner-wrapper {
  flex: 1;
}

.form-inner-wrapper .change-password-iframe {
  max-width: unset;
}

.main-warning-wrapper {
  flex: 1;
}
