.show-more-btn {
  padding: 0;
  margin-left: 4px;
  height: max-content;
  --button-overlay: unset;
  display: inline-block;
}

.not-avaliable {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-disabled);
  letter-spacing: 0.026px;
}


.show-more-btn:hover,
.show-more-btn:visited,
.show-more-btn:focus {
  --button-overlay: unset;
}

.description {
  margin-top: 16px;
  margin-bottom: unset;
  color: var(--color-text-primary);
  text-align: left;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.markdown-wrapper {
  display: inline;
}

.markdown-wrapper>p {
  display: inline;
}