.main {
  padding-top: var(--component-padding-y, 1rem);
}

.rrs-main-wrapper {
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.header {
  padding: var(--component-padding-y) var(--component-padding-x);
  margin: 32px 0 20px;
  background-color: var(--white);
  border-bottom: 6px solid var(--primary);
  box-shadow: var(--elevation-04);
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 36px;
  margin: 16px 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.progress-bar-inner {
  height: 100%;
  background-color: #8bc34a;
  transition: width 0.3s ease-in-out;
}

.progress-bar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #212121;
  text-align: center;
  transform: translate(-50%, -50%);
}

.input-count {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #ff5f52;
}

.input-dark {
  color: #ff5f52;
}

.item-count-indicator {
  margin-bottom: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #616161;
  letter-spacing: 0.035px;
}

.table-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-wrapper {
  display: unset;
}

.table-title {
  margin: 24px 0 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #b75400;
  letter-spacing: 0.0015em;
}

.show-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.no-show-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.no-show-wrapper .table-title {
  margin-top: 0;
}

.no-show-wrapper .show-icon {
  margin-top: 0;
}

.show-icon {
  margin: 24px 0 12px 8px;
}

.info-text {
  margin-left: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

.info-text ul {
  list-style-type: disc;
}

.hide-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.data-error-wrapper {
  padding: 1rem;
  margin: 12px 0 16px;
  color: var(--gray-900);
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
}

.data-error-inner-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.rrs-table-wrapper {
  width: 100%;
  margin: 20px 0;
}

.rrs-table td,
.rrs-table th {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rrs-table th button {
  letter-spacing: 1px;
}

.rrs-table th button:hover,
.rrs-table th button:active {
  cursor: pointer;
  background: transparent;
  box-shadow: unset;
}

.rrs-table tr {
  position: relative;
}

.menu-button {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 999;
}

.redirect-link {
  display: flex;
  margin-left: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #b75400;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.175px;
  gap: 4px;
}

.licence {
  padding: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #212121;
  text-align: center;
  letter-spacing: 0.026px;
  background: #f5f5f5;
  border-radius: 4px;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oai-cell {
  padding: 0.2rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: 0.2rem;
  background-color: var(--gray-100);
  border-radius: 5px;
}

.title-column {
  width: 40%;
  max-width: 5rem;
}

.rrs-table {
  grid-column: 1 / -1;
  margin-top: 0.5rem;
}

.rrs-table td {
  cursor: pointer;
}

.rrs-table tr:hover {
  background: #eee;
}

.rrs-table tbody::before {
  display: block;
  line-height: 1rem;
  text-indent: -99999px;
  content: '@';
}

.rrs-table tr:nth-child(1) {
  border-top: none;
}

.publication-date-cell,
.status-wrapper {
  margin-left: 20px;
}

.licence-column {
  width: 10%;
}

.publication-date-column {
  width: 15%;
}

.data-spinner-wrapper {
  display: flex;
  align-items: center;
}

.loading-container-outputs {
  position: relative;
  width: 100%;
  height: 36px;
  margin: 26px 0;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 2px;
}
