@custom-media --screen-at-least-desktop (min-width: 1200px);

.detail-row {
  & > th,
  & > td {
    white-space: normal;
  }
}

.table {
  --table-border-color: var(--gray-200);

  position: relative;
  right: 30rem;
  left: 0;
  margin-right: 0;
  transition: margin-right 200ms ease;

  & .clickable:hover {
    background: var(--gray-200);
  }

  & table {
    text-align: left;
  }
}

.sidebar {
  --sidebar-padding: 1rem;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: var(--table-sidebar-width);
  max-width: 100vw;
  height: 100%;
  padding-top: var(--app-bar-skip);
  overflow: hidden;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease;

  & > * {
    padding: var(--sidebar-padding);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px #00000042;
}

.sidebar-body {
  overflow-y: auto;
}

.sidebar-footer {
  margin-top: auto;
  background: var(--white);
  box-shadow: 0 1px 4px #00000042;
}

.container {
  --table-sidebar-width: 30rem;

  &:not(.open) > .sidebar {
    box-shadow: none;
    transform: translateX(100%);
  }

  &.open > .table {
    right: 0;

    @media (--screen-at-least-desktop) {
      margin-right: var(--table-sidebar-width);
    }
  }
}

.clickable {
  cursor: pointer;
}

.disable {
  color: var(--gray-400);
}

.footer {
  margin-top: auto;
  background: var(--white);
  border-top: 2px solid var(--table-border-color);
}

.footer-right {
  float: right;
  width: 50%;
  text-align: right;
}

.footer-left {
  float: left;
  width: 50%;
}

.load-next-page {
  margin-left: 1rem;
}

.close-icon {
  margin: calc(-1 * var(--sidebar-padding)) calc(-1 * var(--sidebar-padding))
    calc(-1 * var(--sidebar-padding)) auto;
  color: var(--white);
}

.active {
  background-color: #eee;
}
