.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--component-padding-y, 1rem) 0;
}

/* DeduplicationInfoCard */
.cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deduplication-info-card-wrapper {
  width: 50%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.header-wrapper {
  margin-bottom: 38px;
}

.set-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.set-name {
  margin-right: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--success-dark);
  letter-spacing: 0.048px;
}

.main-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-count-indicator {
  margin-bottom: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #616161;
  letter-spacing: 0.035px;
}

.item-count {
  font-style: normal;
  font-weight: 700;
  color: #b75400;
}

.number-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.card-title {
  margin-bottom: 0;
}

.action-item button {
  padding: 0;
}

.text-spacer {
  margin-left: 8px;
}

.deduplication-statistics-wrapper {
  width: 50%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.deduplication-table {
  width: 100%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.statistics-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.statistics-body {
  display: flex;
  flex-direction: column;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}

.inner-sub-title {
  margin: 4px 0 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #666;
  letter-spacing: 0.0015em;
}

.data-spinner-wrapper {
  display: flex;
  align-items: center;
}

.card-description {
  padding: 8px;
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
  background: #f5f5f5;
}

.footer-button {
  width: max-content;
  margin-top: 20px;
}

.sub-title-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sub-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #666;
  letter-spacing: 0.0015em;
}

.graph {
  width: 100%;
  height: 160px;
  margin: 16px 0;
}

.text {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  color: #212121;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
}

.spinner {
  width: 44px;
  height: 44px;
}

.spinner-text {
  margin: 0 0 0 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #666;
  letter-spacing: 0.021px;
}

.issue-table {
  grid-column: 1 / -1;
  margin-top: 0.5rem;
}

.issue-table td,
.issue-table th {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-table td {
  cursor: pointer;
}

.issue-table tr:hover {
  background: #eee;
}

.issue-table tr button:hover {
  background: transparent;
}

.issue-table tbody::before {
  display: block;
  line-height: 1rem;
  text-indent: -99999px;
  content: '@';
}

.issue-table tr:nth-child(1) {
  border-top: none;
}

.oai-column,
.duplicate-column,
.title-column,
.authors-column,
.publication-date-column,
.update-date-column {
  font-weight: 700;
}

.column-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-header-wrapper button {
  padding: 2px;
  background: transparent;
}

.column-header-wrapper button:hover,
.column-header-wrapper button:active,
.column-header-wrapper button:focus {
  background: transparent;
}

.oai-column {
  width: 5%;
  min-width: 5rem;
}

.duplicate-column {
  width: 5%;
  min-width: 5rem;
}

.title-column {
  width: 40%;
  max-width: 5rem;
}

.authors-column {
  width: 30%;
  max-width: 5rem;
}

.publication-date-column {
  width: 10%;
}

.update-date-column {
  width: 10%;
}

.visibility-status-column {
  width: 1%;
}

.action-button-pure {
  padding: 0;
  color: #000;
  background: transparent;
}

.action-button-pure:hover,
.action-button-pure:active {
  background: transparent;
}

.issue-table tr {
  position: relative;
}

.menu-button {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 999;
}

.toggler-title {
  text-transform: uppercase;
}

.column-item {
  min-width: 40%;
  padding: 0 1.5em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oai-item {
  margin-bottom: 0;
}

.date-item {
  width: max-content;
  min-width: 10%;
}

.review-item {
  width: max-content;
  min-width: 18%;
}

.visibility-icon {
  padding: 0.2rem;
  color: var(--white);
  background-color: var(--success-dark);
}

.redirect-button-wrapper {
  display: flex;
  gap: 10px;
}

.visibility-icon-button {
  width: 40%;
  min-height: 32px;
  padding: 0.2rem;
  font-size: 12px;
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 0;
  background-color: var(--success-dark);
}

.visibility-place-holder {
  width: 60%;
}

.visibility-icon-button:nth-child(2) {
  width: 60%;
}

.visibility-icon-button .redirect-img {
  display: unset;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.visibility {
  padding: 0.2rem;
  margin-right: 4px;
}

.visibility-icon-dark {
  background-color: var(--danger);
}

.action-column {
  cursor: pointer;
}

.oai-cell {
  padding: 0.2rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: 0.2rem;
  background-color: var(--gray-100);
  border-radius: 5px;
}

.duplicate-cell {
  display: block;
  width: 74px;
  padding: 1px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  background: #f5bb95;
  border-radius: 1px;
}

.cell-wrapper {
  display: flex;
  gap: 4px;
}

.to-review {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 22px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  letter-spacing: 0.018px;
  background: #f5f5f5;
}

.reviewed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 22px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  letter-spacing: 0.018px;
  background: #a7bceb;
}

.review-cell {
  display: block;
  width: 36px;
  padding: 1px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  background: #f5f5f5;
  border-radius: 1px;
}

.cell {
  min-width: 36px;
  height: 22px;
  padding: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  letter-spacing: 0.014px;
  border-radius: 1px;
}

.type-cell {
  background: #fae2d2;
}

.dash {
  background: transparent;
}

.duplicate-cell-inner {
  display: block;
  width: 121px;
  padding: 1px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  border-radius: 1px;
}

.duplicate {
  background: #fae2d2;
}

.other {
  background: #a7bceb;
}

.not-same-article {
  background: #f5bb95;
}

.default {
  display: block;
  width: 121px;
  padding: 1px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  background: #f5f5f5;
  border-radius: 1px;
}

.action-cell {
  cursor: pointer;
}

.more-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.back-wrapper {
  display: flex;
  align-items: center;
}

.go-back {
  margin-left: 0.5rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #b75400;
  text-transform: uppercase;
  letter-spacing: 0.0125em;
}

.compare-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 20px 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0016em;
  background: #f5f5f5;
  border: 1px solid #b75400;
}

.content-wrapper {
  margin-bottom: 40px;
}

.data-comparison-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 12px 0 16px;
  color: var(--gray-900);
  background: #f5f5f5;
  border: 1px solid var(--danger-dark);
  border-radius: 2px;
}

.data-comparison-header-title {
  margin-bottom: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #212121;
  letter-spacing: 0.0015em;
}

.data-comparison-header-text {
  margin-top: 0;
}

.option-items {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.option-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 186px;
  height: max-content;
  padding: 8px 16px;
  background: #fff;
  border: 1px dashed #9e9e9e;
  border-radius: 2px;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option-item:not(:last-child) {
  margin-bottom: 10px;
}

.compare-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.button-options-empty {
  width: 55%;
}

.button-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  gap: 10px;
  margin-top: 2px;
}

.button-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.0125em;
  cursor: pointer;
  background: #b75400;
  gap: 16px;
  border: 1px solid #b75400;
  border-radius: 2px;
}

.clicked {
  display: flex;
  flex-direction: row;
  color: #5a9216;
  background: #f5f5f5;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  width: 396px;
  height: max-content;
  padding: 1rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.modal-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.0006em;
}

.modal-description {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.000585937em;
}

.modal-option {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
  letter-spacing: 0.000585937em;
}

.modal-option-button {
  margin-right: 14px;
}

.modal-option:not(:last-child) {
  margin-bottom: 28px;
}

.modal-option:last-child {
  margin-bottom: 38px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal-open {
  overflow: hidden;
}

.data-title {
  display: flex;
  width: max-content;
  min-height: 42px;
  margin-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #b75400;
  text-align: right;
  letter-spacing: 0.0015em;
}

.compare-card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 14px 35px;
  margin-top: 24px;
}

.carousel-wrapper {
  position: relative;
  width: calc(100% - 186px);
  overflow: hidden;
}

.carousel-wrapper ul {
  top: unset;
  left: 50%;
  width: 70%;
  margin: unset;
  overflow-y: hidden;
  transform: translate(-50%, 0);
}

.carousel-wrapper ul li {
  width: 128px;
  max-width: unset;
}

.carousel-wrapper ul li:not(:last-child) {
  margin-right: 0;
}

.carousel-wrapper div::before {
  display: none;
}

/* stylelint-disable selector-max-type */
.carousel-wrapper div div div:first-child {
  top: 100%;
}

.carousel-wrapper div div div:nth-child(3) {
  top: 100%;
}
/* stylelint-enable selector-max-type */
.arrow-left {
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: 2;
  transform: translate(50%, -100%);
}

.arrow-right {
  position: absolute;
  top: 100%;
  right: 100%;
  transform: translate(-50%, -100%);
}

.compare-card-left {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 33%;
  padding-right: 14px;
  margin-bottom: 20px;
}

.compare-card-left::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  content: ' ';
  background: #eee;
}

.compare-card-right {
  padding: 0 7px;
  margin-bottom: 20px;
}

.compare-card-right:first-child {
  padding-left: 14px;
}

.reference-title {
  display: flex;
  align-items: center;
  min-height: 82px;
  padding: 1rem;
  color: var(--gray-900);
  user-select: text;
  border: 1px solid var(--danger-dark);
  border-radius: 2px;
}

.reference-title-left {
  display: flex;
  align-items: center;
  min-height: 82px;
  padding: 1rem;
  color: var(--gray-900);
  user-select: text;
  border: 1px solid var(--danger-dark);
  border-radius: 2px;
}

.reference-text {
  margin-top: 0;
  margin-left: 12px;
}

.oai-title {
  margin-left: 6px;
  font-weight: 700;
}

.main-title {
  display: flex;
  align-items: center;
  min-height: 146px;
}

.compare-title-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 146px;
  padding: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  gap: 10px;
  background: #fef5ef;
}

.compare-title-wrapper-left {
  display: flex;
  flex-direction: column;
  min-height: 146px;
  padding: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  gap: 10px;
  background: #f5f5f5;
}

.compare-title {
  min-height: 96px;
  user-select: text;
}

.items-wrapper {
  display: flex;
}

.data-title-wrapper {
  margin-right: 14px;
}

.metadata-title {
  display: flex;
  align-items: center;
  min-height: 82px;
  padding: 1rem;
  margin-bottom: 24px;
  color: var(--gray-900);
  border: 1px solid var(--danger-dark);
  border-radius: 2px;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #b75400;
  text-align: right;
  letter-spacing: 0.0015em;
}

.data-item {
  width: 100%;
  min-height: 40px;
  padding: 6px 16px;
  margin-bottom: 14px;
  user-select: text;
  background: #f5f5f5;
}

.not-avaliable {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #9e9e9e;
  letter-spacing: 0.026px;
}

.data-item-reference {
  width: 100%;
  min-height: 40px;
  padding: 6px 16px;
  margin-bottom: 0;
  user-select: text;
}

.count {
  padding: 4px;
  color: #424242;
  background: #e0e0e0;
  border-radius: 4px;
}

.popup {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 9;
  width: 300px;
  padding: 8px;
  font-size: 10px;
  user-select: text;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: translate(3%, -30%);
}

.close-button {
  padding: 2px;
  font-size: 8px;
}

.close-button:hover {
  background: transparent;
}

.popup-content {
  margin-bottom: 10px;
}

.output-item {
  width: 100%;
  min-height: 40px;
  padding: 6px 16px;
  margin-bottom: 14px;
  user-select: text;
  background: #e8f3db;
}

.data-item-authors {
  width: 100%;
  min-height: 63px;
  padding: 6px 16px;
  margin-bottom: 14px;
  user-select: text;
  background: #e8f3db;
}

.author-title {
  display: flex;
  align-items: center;
  min-height: 63px;
}

.abstract-title {
  display: flex;
  align-items: center;
  min-height: 135px;
}

.column-item-title {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.height {
  width: 100%;
  min-height: 80px;
  padding: 6px 16px;
  margin-bottom: 14px;
}

.author-height {
  min-height: 63px;
}

.height-output {
  width: 100%;
  min-height: 80px;
  padding: 6px 16px;
  margin-bottom: 14px;
  user-select: text;
  background: #e8f3db;
}

.matched {
  background: #fdd8354d;
}

.live-core {
  display: flex;
  align-items: center;
  width: 138px;
  height: max-content;
  padding: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.0125em;
  background: #5a9216;
  border-radius: 2px 2px 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.visible-icon-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 5%;
  margin-right: 24px;
}

.visible-icon {
  min-width: 24px;
  height: 24px;
  padding: 0.2rem;
  margin-right: 9px;
  color: var(--white);
  background-color: var(--success-dark);
}

.carousel-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
  grid-gap: 35px;
}

.carousel-items ul {
  top: unset;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}

.carousel-items li {
  width: 128px;
  max-width: unset;
}

.carousel-items li:not(:last-child) {
  margin-right: 0;
}

.carousel-items li span {
  width: 100%;
}

.compare-card-footer-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-top: 24px;
}

.toggle-panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 48px;
  padding: 15px 15px 15px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.0015em;
  background: #b75400;
  border-radius: 2px;
}

.toggle-panel-title-active {
  color: #424242;
  background: #e0e0e0;
}

.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate {
  transform: rotate(180deg);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.action-button-pannel {
  margin-bottom: 14px;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0 3px 48px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #424242;
  letter-spacing: 0.003em;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}

.restrict {
  cursor: not-allowed;
}

.active {
  background: #f5f5f5;
}

.option-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0 14px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #424242;
  letter-spacing: 0.003em;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}

.option-button:not(:last-child) {
  border-bottom: 1px solid transparent;
}

.option-button:hover {
  background: #f5f5f5;
}

.action-button:nth-child(2) {
  border-top: 1px solid transparent;
}

.action-button:hover {
  background: #f5f5f5;
}

.compare-container {
  display: flex;
}

.carousel-container {
  flex-grow: 1;
  width: 67%;
  overflow-x: auto;
}
