.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--component-padding-y, 1rem) 0;
}

.header {
  padding: var(--component-padding-y) var(--component-padding-x);
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
  background-color: var(--white);
  border-bottom: 6px solid var(--primary);
  box-shadow: var(--elevation-04);
}

.validator-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  cursor: pointer;
}

.menu:first-child {
  margin-right: 30px;
}

.title {
  margin-bottom: 0;
  font-weight: 400;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.description {
  color: var(--gray-600);
}

/* DeduplicationInfoCard */
.cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.deduplication-info-card-wrapper {
  width: 48%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.card-title {
  margin-bottom: 0;
}

.deduplication-statistics-wrapper {
  width: 48%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.deduplication-table {
  width: 100%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.statistics-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.deduplication-body {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #9e9e9e;
}

.statistics-body {
  display: flex;
  flex-direction: column;
}

.deduplication-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}

.card-description {
  width: calc(100% - 200px);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
}

.footer-button {
  width: 200px;
}

.sub-title-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sub-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #666;
  letter-spacing: 0.0015em;
}

.graph {
  width: 100%;
  height: 160px;
  margin: 16px 0;
}

.text {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  color: #212121;
}

.issue-table {
  grid-column: 1 / -1;
  margin-top: 2rem;
}

.issue-table td,
.issue-table th {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-table tbody::before {
  display: block;
  line-height: 2rem;
  text-indent: -99999px;
  content: '@';
}

.issue-table tr:nth-child(1) {
  border-top: none;
}

.oai-column,
.duplicate-column,
.title-column,
.authors-column,
.publication-date-column,
.update-date-column {
  font-weight: 700;
}

.oai-column {
  width: 5%;
  min-width: 5rem;
}

.duplicate-column {
  width: 5%;
  min-width: 5rem;
}

.title-column {
  width: 40%;
  max-width: 5rem;
}

.authors-column {
  width: 30%;
  max-width: 5rem;
}

.publication-date-column {
  width: 10%;
}

.update-date-column {
  width: 10%;
}

.visibility-status-column {
  width: 1%;
}

.column-item {
  padding: 0 1.5em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oai-item {
  width: max-content;
  min-width: 10%;
  margin-bottom: 0;
}

.date-item {
  width: max-content;
  min-width: 10%;
}

.review-item {
  width: max-content;
  min-width: 18%;
}

.visibility-icon {
  padding: 0.2rem;
  color: var(--white);
  background-color: var(--success-dark);
}

.visibility-icon-dark {
  background-color: var(--danger);
}

.action-column {
  cursor: pointer;
}

.oai-cell {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: 0.2rem;
  background-color: var(--gray-100);
  border-radius: 5px;
}

.duplicate-cell {
  display: flex;
  align-items: center;
  width: 71px;
  height: 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  text-align: center;
  background: #f5bb95;
  border-radius: 1px;
}

.action-cell {
  cursor: pointer;
}

.more-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.back-wrapper {
  display: flex;
  align-items: center;
}

.compare-item {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 20px 24px;
  background: #f5f5f5;
}

.data-error-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  color: var(--gray-900);
  background: #f5f5f5;
  border: 1px solid var(--danger-dark);
  border-radius: 2px;
}

.info-text {
  margin-left: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

.data-comparison-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--gray-900);
  background: #f5f5f5;
  border: 1px solid var(--danger-dark);
  border-radius: 2px;
}

.data-comparison-header-title {
  margin-bottom: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #212121;
  letter-spacing: 0.0015em;
}

.data-comparison-header-text {
  margin-top: 0;
}

.option-items {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.option-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 186px;
  height: max-content;
  padding: 8px 16px;
  background: #fff;
  border: 1px dashed #9e9e9e;
  border-radius: 2px;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option-item:not(:last-child) {
  margin-bottom: 10px;
}

.button-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.button-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #b75400;
  letter-spacing: 0.0125em;
  cursor: pointer;
  gap: 16px;
  border: 1px solid #b75400;
  border-radius: 2px;
}
