.modal-header {
  margin-bottom: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-900);
  letter-spacing: 0.0015em;
}

.modal-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}

.modal-body-wrapper {
  max-width: 50ch;
}

.modal-body-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-900);
  letter-spacing: 0.000585937em;
}

.button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.list-wrapper {
  margin: 40px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-900);
}

.list {
  margin-top: 10px;
  margin-left: 24px;
  list-style-type: disc;
}

.small-modal {
  position: relative;
  max-width: 320px;
  padding: 16px;
  overflow: visible;
}

.arrow {
  position: absolute;
  top: 50%;
  left: -38px;
  z-index: 10;
  width: 0;
  height: 0;
  filter: drop-shadow(-3px 0 2px rgba(0, 0, 0, 0.1));
  border-color: transparent;
  border-style: solid;
  border-width: 20px;
  border-right-color: #fff;
}

.arrow-none {
  border-color: transparent;
}

.modal {
  max-width: 1199px;
  padding: 24px;
  overflow: scroll;
}

.small-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.small-modal-header {
  margin-bottom: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
}

.small-button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small-upload-text {
  margin-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-900);
}

.with-next-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.with-next-modal-header-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-900);
}

.small-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray-900);
}

.next-button-wrap {
  display: flex;
}

.page-counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray-500);
}

.arrow-button {
  background: transparent;
}

.arrow-button:hover {
  background: transparent;
}

.separator {
  margin: 0 4px;
}

.positioned {
  position: fixed;
  max-height: calc(100vh - 40px);
  overflow: visible;
  transform: none;
}

/* stylelint-disable declaration-no-important */
@media (max-width: 728px) {
  .positioned {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .arrow {
    border-color: transparent;
  }
}
