.notification-container {
  width: 60%;
  margin-top: 20px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.toggler-text {
  width: 50%;
  margin-left: 62px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #666;
  letter-spacing: 0.048px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 16px 20px;
}

.modal-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.01px;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper img {
  width: 128px;
  height: auto;
}

.button-group {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  margin-top: 24px;
}
