:root {
  --sidebar-width: 12rem;
  --app-bar-skip: 3.5rem;
}

@custom-media --screen-desktop (min-width: 728px);

.container {
  height: 100%;
  /* TODO: Handle this better */
  min-height: 100vh;
  background: var(--gray-200);
}

.main {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: var(--component-padding, 1rem);
  padding-top: calc(var(--app-bar-skip) + var(--component-padding, 1rem));
  background: var(--white);

  /* TODO: Should go to @oacore/design */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  @media (--screen-desktop) {
    margin-left: var(--sidebar-width);
  }
}

.sidebar {
  position: absolute;
  left: 0;
  z-index: 1030;
  width: var(--sidebar-width);
  min-height: 100%;
  padding: var(--component-padding, 1rem);
  padding-top: calc(var(--app-bar-skip) + var(--component-padding, 1rem));
  transition: transform 200ms ease;

  &:not(.visible) {
    box-shadow: none;
    transform: translateX(-100%);
  }

  @media (--screen-desktop) {
    /* TODO: Fix specificity */

    /* stylelint-disable-next-line declaration-no-important */
    z-index: initial !important;
    /* stylelint-disable-next-line declaration-no-important */
    transform: none !important;
  }
}

.app-bar {
  /* TODO: Should go to @oacore/design */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
