.layout {
  background: #eee;
  height: 100%;
  padding: 0 1rem 0 calc(var(--sidebar-width) + 1rem);
}

.layout-main {
  min-height: 100%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 2px #0003;
  margin: 0 -1rem;
}

.layout-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  min-height: 100%;
  padding: 1rem;
  background: #E5E5E5;
}

.layout-bar {
  height: 3.5rem;
  padding: 0 0.5rem;
}

.layout-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.layout-sidebar,
.layout-main {
  padding-top: 4.5rem;
}

.layout-sidebar > .branding {
  display: none;
  background: #FAFAFA;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .layout-sidebar {
    left: calc(var(--sidebar-width) * -1);
    transition: left 200ms ease;
    will-change: left;
    z-index: 1001;
    padding-top: 1rem;
  }

  .layout-sidebar.visible {
    left: 0;
  }

  .layout {
    padding: 0;
  }

  .layout-sidebar > .branding {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    justify-content: space-between;
  }
}
