@custom-media --screen-at-least-desktop (min-width: 728px);
@custom-media --screen-until-desktop (max-width: 727px);

.container {
  --side-bar-width: 12rem;
  --app-bar-skip: 3.5rem;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: var(--app-bar-skip);
  background: var(--gray-200);

  @media (--screen-at-least-desktop) {
    padding-left: var(--side-bar-width);
  }
}

.app-bar {
  top: 0;
  left: 0;
}

.app-bar-toggle {
  display: none;
  height: 3.5rem;
}

.internal .app-bar-toggle {
  display: block;

  @media (--screen-at-least-desktop) {
    display: none;
  }
}

.app-bar-brand {
  display: inline-flex;
  width: var(--side-bar-width);
}

.internal .app-bar-brand {
  @media (--screen-until-desktop) {
    display: none;
  }
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--side-bar-width);
  height: 100%;
  padding-top: var(--app-bar-skip);

  @media (--screen-until-desktop) {
    z-index: 1050;
    width: calc(100% - 3.5rem);
    max-width: 20rem;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 200ms ease;

    &:not(.open) {
      box-shadow: none;
      transform: translateX(-100%);
    }
  }
}

.side-bar-header {
  margin-top: calc(-1 * var(--app-bar-skip));
  border-bottom: 1px solid var(--gray-300);
  box-shadow: none;

  @media (--screen-at-least-desktop) {
    display: none;
  }
}

.side-bar-header-brand {
  display: inline-flex;
  flex-grow: 1;
}

.main {
  position: relative;
  flex-grow: 1;
  min-height: 100%;
}
