.content-table {
  width: calc(100% + 2 * var(--card-padding-x));
  min-width: 40rem;
  margin-right: calc(-1 * var(--card-padding-x));
  margin-left: calc(-1 * var(--card-padding-x));
  table-layout: fixed;

  & th,
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.label-column {
  width: 15%;
  min-width: 5rem;

  & > mark {
    text-align: center;
    text-overflow: clip;
  }
}

.title-column {
  width: 35%;
  max-width: 5rem;
}

.authors-column {
  width: 25%;
}

.last-update-column {
  width: 15%;
}

.visibility-column {
  width: 10%;
}

.doi-label {
  margin-left: 1rem;
  color: var(--gray-700);
  background: var(--gray-100);
}

.visibility-switch {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.header {
  width: 100%;
  padding: 1rem;
  color: var(--white);
  background: var(--success-dark);
}

.content {
  padding: 1rem;
}
