%item {
  flex: 3 3 90%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: var(--component-padding-y, 1rem) 0;

  & > * {
    @extend %item;
  }
}

.compliance-level {
  flex: 2 2 60%;
  width: 100%;
}

.export {
  flex: 1 1 30%;
  width: 100%;
}

.deposit-time-lag {
  flex: 3 3 90%;
}

.browse-table {
  flex: 3 3 90%;
  margin-bottom: 0;
  overflow-x: auto;

  & table {
    /* It would be nice to avoid calc() in the following line */
    width: calc(100% + 2 * var(--card-padding-x));
    min-width: 40rem;
    margin-right: calc(-1 * var(--card-padding-x));
    margin-left: calc(-1 * var(--card-padding-x));
    table-layout: fixed;
  }

  & thead th {
    text-align: left;
  }

  & th,
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.label-column {
  width: 10%;
  min-width: 10rem;
}

.title-column {
  width: 35%;

  /* TODO: allow width: auto; min-width does not work */
  min-width: 15rem;
}

.authors-column {
  width: 25%;
  min-width: 10rem;
}

.deposit-date-column {
  width: 15%;
  min-width: 12rem;
}
