%item {
  flex: 3 3 90%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: var(--component-padding-y, 1rem) 0;

  & > * {
    @extend %item;
  }
}

.table th,
.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.compliance-level {
  flex: 2 2 60%;
  width: 100%;
}

.export {
  flex: 1 1 30%;
  width: 100%;
}

.deposit-time-lag {
  flex: 3 3 90%;
}

.browse-table {
  flex: 3 3 90%;
  margin-bottom: 0;
  overflow-x: auto;

  & > table {
    min-width: 40rem;
    margin-right: calc(-1 * var(--card-padding-x));
    margin-left: calc(-1 * var(--card-padding-x));
  }
}

.label-column {
  min-width: 5rem;
  max-width: 10rem;

  & > mark {
    text-align: center;
  }
}

.title-column,
.authors-column {
  max-width: 20rem;
}
