.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, auto));
  grid-auto-rows: auto;
  grid-gap: 1.5rem 2rem;
  grid-auto-flow: dense;
  align-items: start;
  justify-content: stretch;
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);

  & > * {
    position: relative;
    flex-basis: 30%;
    flex-grow: 1;
  }
}

.data-card {
  flex-basis: 60%;
  flex-flow: 2;
}

.chart-container {
  position: relative;
}

.chart-label {
  position: absolute;
  top: 128px;
  left: 50%;
  margin: 1rem 0 0;
  text-align: center;
  transform: translate(-50%, -50%);
}
