.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1.5rem 2rem;
  grid-auto-flow: dense;
  justify-content: stretch;
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);

  & > * {
    position: relative;
  }

  /* TODO: Values are experimental and should be changed */
  @media (min-width: 840px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.statistics-card {
  align-self: start;
}

.chart-container {
  position: relative;
}

.chart-label {
  position: absolute;
  top: 128px;
  left: 50%;
  margin: 1rem 0 0;
  text-align: center;
  transform: translate(-50%, -50%);
}
