.container {
  padding: 1rem;
}

.section {
  margin-bottom: calc(1.5 * var(--component-padding-y, 1rem));

  & form {
    max-width: 50rem;
  }
}

.invitation-form {
  display: flex;
  flex: 1 1 auto;

  & > button {
    margin-left: 1.5rem;
    min-width: 6rem;
  }

  & > div {
    flex-basis: 100%;
  }
}
