.content-table {
  width: calc(100% + 2 * var(--card-padding-x));
  margin-right: calc(-1 * var(--card-padding-x));
  margin-left: calc(-1 * var(--card-padding-x));
  overflow-x: auto;
}

.content-table > table {
  min-width: 55rem;
  min-height: 100%;
  table-layout: fixed;

  & th,
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.oai-column {
  width: 15%;
  min-width: 5rem;
}

.title-column {
  width: 35%;
  max-width: 5rem;
}

.authors-column {
  width: 35%;
}

.last-update-column {
  width: 15%;
}

.doi-label {
  margin-left: 1rem;
  color: var(--gray-700);
  background: var(--gray-100);
}

.header {
  color: var(--white);
  background: var(--success-dark);
}

.header-danger {
  background: var(--danger);
}

.header-disabled {
  background: var(--gray-700);
}

.sidebar {
  & .danger {
    fill: var(--danger);
  }
}

.set-end-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 12px;
}

.set-name {
  margin-right: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--success-dark);
  letter-spacing: 0.048px;
}
