.input-container {
  position: absolute;
  top: var(--form-control-border-width);
  right: var(--form-control-border-width);
  bottom: var(--form-control-border-width);
  left: var(--form-control-border-width);
  pointer-events: none;
  cursor: pointer;
  background: transparent;

  &::after {
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 0;
    height: 0;
    content: '';
    border-top: 5px solid var(--black);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateY(-50%);
  }
}

.select-wrapper {
  --select-background: var(--gray-50);
  position: relative;
}

.select-menu {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
  display: none;
  max-height: 20rem;
  padding: 0;
  margin-top: 0;
  overflow: auto;
  list-style-type: none;
  background: var(--select-background);
  border: 1px solid #999;
  border-top: none;

  &.show {
    display: block;
  }

  & li,
  & button {
    display: block;
    width: 100%;
    text-align: left;
  }

  &:not(:hover) .option-selected {
    /**
     TODO: Taken from
        https://github.com/oacore/design/blob/master/src/elements/button/button.css#L38
    */
    background: #0001;
  }
}
