.input-container {
  position: absolute;
  top: var(--select-border-width);
  right: var(--select-border-width);
  bottom: var(--select-border-width);
  left: var(--select-border-width);
  display: block;
  padding: var(--form-control-padding-x) var(--form-control-padding-y);
  pointer-events: none;
  cursor: pointer;
  background: var(--select-background);

  &::after {
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 0;
    height: 0;
    content: '';
    border-top: 5px solid var(--black);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateY(-50%);
  }
}

.input:focus + .input-container {
  display: none;
}

.select-wrapper {
  --select-background: var(--gray-50);
  --select-border-width: var(--form-control-border-width, 1px);
  position: relative;
}

.select-menu {
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  max-height: 20rem;
  padding: 0;
  margin-top: 0;
  overflow: auto;
  list-style-type: none;
  background: var(--select-background);
  border: 1px solid #999;
  border-top: none;

  &.show {
    display: block;
  }

  & li,
  & button {
    display: block;
    width: 100%;
    text-align: left;
  }

  &:not(:hover) .option-selected {
    /* TODO: This color should be specified globally */
    background: rgba(0, 0, 0, 0.06667);
  }
}
