/* TODO: handle this in design library perhaps */
.table-select > input {
  width: 1rem;
  height: 1rem;
}

.table-select {
  width: 2rem;
  height: 3rem;
}

.additional-row,
.additional-row * {
  max-height: 500px;
  border-top: 0;
  transition: max-height 0.2s ease-in, padding-top 0.2s ease-in,
    padding-bottom 0.2s ease-in;
}

.additional-row.closed,
.additional-row.closed * {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, padding-top 0.2s ease-out,
    padding-bottom 0.2s ease-out;
}

.main-row {
  border-bottom: 0;
}
