.status-wrapper {
  max-width: 850px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.docs-link {
  padding-right: 8px;
  padding-bottom: 5px;
}

.toolkit-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b75400;
  border: 1px solid #b75400;
  padding: 8px 16px;
}

.toolkit-link:hover {
  text-decoration: none;
}
