.container {
  position: relative;
  max-height: 250px;
  margin-top: var(--spacer, 1.5rem);
  margin-bottom: var(--spacer, 1.5rem);
}

.label {
  position: absolute;
  top: 65%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
