.container {
  --column-min-width: 18rem;

  display: grid;
  grid-gap: 1.5rem 2rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);
}

.overview-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  & > * {
    margin-top: 0;
  }
}

.overview-card-footer {
  margin-top: auto;
}

.link-button {
  align-self: flex-start;
  margin-top: auto;
}

.chart {
  margin-top: auto;
  margin-bottom: auto;

  & ~ .link-button {
    margin-top: 0;
  }
}

.banner {
  grid-column: 1 / -1;
  background: var(--danger-dark);

  & > * {
    color: var(--white);
  }

  & a:hover {
    color: var(--white);
    background: var(--danger);
  }
}

.warning {
  background: var(--warning-light);
}

.irus-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  /**
   * This is a workaround to display half-cut bar labels.
   * Ideally we should remove adjust/replace Recharts
   *
   * TODO: Remove when Recharts is replaced here or the contents change
   */

  & svg {
    overflow: unset;
  }
}

.rioxx-chart {
  margin-top: var(--spacer);
}

.row {
  display: flex;
  line-height: 1;
  background: var(--gray-300);
  border-radius: var(--component-corner-radius, 2px);
}

.bar {
  display: inline-block;
  flex-basis: 1px;
  min-width: 2px;
  padding: 0.5rem 0;
  color: var(--white);
  text-align: center;
  background: var(--primary);
  border-radius: var(--component-corner-radius, 2px);

  &.empty {
    color: var(--gray-800);
    text-align: left;
    background: transparent;
  }
}

.chart-title {
  margin-bottom: 0.5rem;
}

.issues-list {
  padding: 0;
  list-style: none;

  & > li {
    display: block;
    padding-left: 2rem;

    &::before {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.625rem;
      margin-left: -2.125rem;
      vertical-align: middle;
      content: '';
      background: var(--danger-dark);
      border-radius: 50%;
      mask: url('/design/icons/close-circle-outline.svg');
    }
  }

  & code {
    font-family: inherit;
    font-size: inherit;
    font-weight: bolder;
    color: var(--danger-dark);
  }
}
