.container {
  --column-min-width: 18rem;

  display: grid;
  grid-gap: 1.5rem 2rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);
}

.overview-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  & > * {
    margin-top: 0;
  }
}

.overview-card-footer {
  margin-top: auto;
}

.link-button {
  align-self: flex-start;
  margin-top: auto;
}

.chart {
  margin-top: auto;
  margin-bottom: auto;

  & ~ .link-button {
    margin-top: 0;
  }
}

.banner {
  grid-column: 1 / -1;
  background: var(--danger-dark);

  & > * {
    color: var(--white);
  }

  & a:hover {
    color: var(--white);
    background: var(--danger);
  }
}

.warning {
  background: var(--warning-light);
}

.irus-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
