@custom-media --screen-until-desktop (max-width: 1240px);

.container {
  --column-min-width: 32rem;
  @media (--screen-until-desktop) {
    --column-min-width: 20rem;
  }
  display: grid;
  grid-gap: 1.5rem 2rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);
}

.overview-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  & > * {
    margin-top: 0;
  }
}

.info-card {
  grid-column: 1 / -1;
  background-color: #fff;
}

.doi-card {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--column-min-width) / 2), 1fr)
  );

  @media (--screen-until-desktop) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--column-min-width), 1fr)
    );
  }
}

.overview-card-footer {
  margin-top: auto;
}

.link-button {
  align-self: flex-start;
  margin-top: auto;
}

.chart {
  margin-top: auto;
  margin-bottom: auto;

  & ~ .link-button {
    margin-top: 0;
  }
}

.banner {
  grid-column: 1 / -1;
  background: var(--danger-dark);

  & > * {
    color: var(--white);
  }

  & a:hover {
    color: var(--white);
    background: var(--danger);
  }
}

.warning {
  background: var(--warning-light);
}

.irus-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  /**
   * This is a workaround to display half-cut bar labels.
   * Ideally we should remove adjust/replace Recharts
   *
   * TODO: Remove when Recharts is replaced here or the contents change
   */

  & svg {
    overflow: unset;
  }
}

.doi-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rioxx-chart {
  margin-top: var(--spacer);
}

.row {
  display: flex;
  line-height: 1;
  background: var(--gray-300);
  border-radius: var(--component-corner-radius, 2px);
}

.bar {
  display: inline-block;
  flex-basis: 1px;
  min-width: 2px;
  padding: 0.7rem 1rem;
  color: var(--white);
  background: var(--primary);
  border-radius: var(--component-corner-radius, 2px);

  &.empty {
    color: var(--gray-800);
    text-align: left;
    background: transparent;
  }
}

.chart-title {
  margin-bottom: 0.5rem;
}

.issues-list {
  padding: 0;
  margin-top: 1rem;
  list-style: none;

  & > li {
    display: block;

    &::before {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.625rem;
      margin-left: -2.125rem;
      vertical-align: middle;
      content: '';
      background: var(--danger-dark);
      border-radius: 50%;
      mask: url('/public/design/icons/close-circle-outline.svg');
    }
  }

  & span {
    font-weight: 700;
  }

  & code {
    font-family: inherit;
    font-size: inherit;
    font-weight: bolder;
    color: var(--primary);
  }
}

.alert {
  padding: 0.25rem;
  color: var(--danger-dark);
  border: 1px solid;
  border-radius: var(--component-corner-radius, 2px);
}

.statistics {
  font-size: 0.9em;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card-header-irus {
  margin-bottom: 1rem;
}

.doi-card-actions {
  display: flex;
  justify-content: flex-end;
}

.card-title {
  margin-bottom: 1.5rem;
}

.irus-description {
  margin-top: 0;
}

.subtitle {
  margin-bottom: 0;
  font-weight: 300;
  color: var(--gray-700);
}

.metadata {
  padding-right: 1.5rem;
  font-size: 1.3rem;
}

/* stylelint-disable declaration-no-important */
.info-chart {
  max-width: 110px;
  padding: 0;
  margin: 0 !important;
}

/* White circle inside  */
.info-chart::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90px;
  height: 90px;
  content: '';
  background-color: #fff;
  border-radius: 50%;
}

.info-card-content {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 1rem;
}

.info-card-chart {
  display: grid;
  align-items: center;
  grid-template-columns: 110px 1fr;
}

.label {
  margin-left: 1rem;
}

.label span:nth-child(2) {
  font-size: 1.1rem;
  color: var(--gray-600);
  text-align: center;
}

.info-box {
  padding: 0.5rem 1rem;
  background-color: var(--gray-100);
}
