.message:empty {
  display: none;
}

.message {
  margin-bottom: 20px;
}

/* Source code inspired by https://github.com/tobiasahlin/SpinKit */
.spinner {
  position: relative;
  top: 50%;
  font-size: 0.6rem;
  text-align: center;
  transform: translateY(-50%);
}

.spinner > div {
  display: inline-block;
  width: 0.4rem;
  height: 5rem;
  background-color: #b75400;
  animation: stretch 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1s;
}

.spinner .rect4 {
  animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes stretch {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

.blur-background {
  display: none;
}

.loading > .blur-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: block;
  user-select: none;
}

.loading > .blur-background ~ * {
  filter: blur(1px);
}

.forgotten-password {
  float: right;
}

label {
  position: relative;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 16px;
  color: #212121;
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 16px;
  color: #666;
  opacity: 0;
}

span {
  position: absolute;
  bottom: 48px;
  left: 0;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #b75400;
  transition-duration: 300ms;
  transform: translateY(30px);
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  width: max-content;
  padding: 2px 4px;
  color: #b75400;
  background: #fff;
  border-radius: 4px;
  transform: translateY(5px);
}
