body {
  overflow: hidden;
}

/* Avoid clipping label on /settings page */
.reset-form {
  padding-top: 0.5rem;
}

.group:first-of-type {
  margin-top: 0;
}

.hidden {
  display: none;
  padding: 0;
  margin: 0;
}

.hidden + :not(.hidden) {
  margin-top: 0;
}

.message {
  margin-bottom: 1rem;
}

.message:empty {
  display: none;
}
