@custom-media --screen-until-desktop (max-width: 727px);

%item {
  flex: 3 3 90%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: var(--component-padding-y, 1rem) 0;

  & > * {
    @extend %item;
  }
}

.data-overview {
  flex: 2 2 60%;
  width: 100%;
}

.numbers {
  display: flex;
  flex-wrap: wrap;

  & > p {
    flex: 1 0 50%;
    min-width: 10rem;
    padding-bottom: var(--component-padding-y, 1rem);
    margin: 0;
  }
}

.outputs-match {
  margin-bottom: 1rem;
  color: var(--success-dark);
}

.cross-repository-check-redirect {
  flex: 1 1 30%;
  width: 100%;

  @media (--screen-until-desktop) {
    display: none;
  }
}

.browse-table-card {
  flex: 3 3 90%;
  margin-bottom: 0;
}

.browse-table {
  width: calc(100% + 2 * var(--card-padding-x));
  margin-right: calc(-1 * var(--card-padding-x));
  margin-left: calc(-1 * var(--card-padding-x));
  overflow-x: auto;
}

.browse-table > table {
  min-width: 55rem;
  table-layout: fixed;

  & th,
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.oai-column {
  width: 25%;
}

.title-column {
  width: 30%;
}

.authors-column {
  width: 30%;
}

.deposit-date-column {
  width: 15%;
}

.header {
  width: 100%;
  padding: 1rem;
  color: var(--white);
  background: var(--success-dark);
}

.matching-icon {
  width: 1rem;
  height: 1rem;
  margin: 0;
}

.matching-icon.none {
  color: var(--danger);
}

.matching-icon.partial {
  color: var(--warning);
}
