:root {
  --chart-color: var(--primary);
}

.time-lag {
  --chart-color-compliant: var(--success);
  --chart-color-incompliant: var(--success);
  --chart-color-start: var(--success-dark);
  --chart-color: var(--chart-color-compliant), var(--chart-color-incompliant);
  --chart-color-hover: var(--primary);
}
