@custom-media --screen-small-screen-width (max-width: 380px);

.container {
  padding: 1rem;
}

.section {
  margin-bottom: calc(1.5 * var(--component-padding-y, 1rem));

  & form {
    max-width: 50rem;
    margin-top: 1rem;
  }
}

.invitation-user-delete,
.invitation-form {
  display: flex;
  flex-wrap: wrap;

  & > button {
    flex: 0 0 auto;
    width: 180px;
    margin-left: 1.5rem;

    @media (--screen-small-screen-width) {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }

  & > div {
    flex: 1 1 auto;
  }

  & > p {
    flex: 0 0 100%;
    margin-top: 0.5rem;
  }
}

.invitation-user-delete {
  max-width: 50rem;
  color: var(--gray-500);
}

.invite-status {
  width: 20px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

.invite-email {
  width: 20px;
  line-height: 38px;
}

.invite-activated {
  color: var(--success);
}

.description {
  max-width: 90ch;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-900);
}

.upload-container {
  display: flex;
  gap: 2rem;
  max-width: 100ch;
}

.upload-description {
  max-width: 40ch;
  margin-top: 1rem;
  margin-left: 1rem;
  line-height: 1.5rem;
  color: var(--gray-900);
}

.upload-note {
  display: block;
  margin-bottom: 1rem;
}
