@custom-media --screen-small-screen-width (max-width: 380px);

.container {
  padding: 1rem;
}

.section {
  margin-bottom: calc(1.5 * var(--component-padding-y, 1rem));

  & form {
    max-width: 50rem;
  }
}

.invitation-form {
  display: flex;
  flex-wrap: wrap;

  & > button {
    flex: 0 0 auto;
    margin-left: 1.5rem;

    @media (--screen-small-screen-width) {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }

  & > div {
    flex: 1 1 auto;
  }

  & > p {
    flex: 0 0 100%;
    margin-top: 0.5rem;
  }
}

.description {
  max-width: 90ch;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-900);
}

.upload-container {
  display: flex;
  max-width: 53ch;
}

.upload-description {
  margin: 1rem 3rem 0 1rem;
  line-height: 1.5rem;
  color: var(--gray-900);
}
