/* Status Card Modal Styles */
.cr-status-card-modal-wrapper {
    width: 400px;
    padding: 16px;
    white-space: normal;
    background: var(--color-bg-container);
    border: 2px solid var(--color-border-primary);
    border-radius: 2px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.12),
        0 9px 12px 0 rgba(0, 0, 0, 0.14);
}

.cr-status-card-spin-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.cr-status-card-modal-title {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-text-secondary);
    letter-spacing: 0.01px;
}

.cr-status-card-spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cr-status-card-confirmation-popup {
    padding: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-text-secondary);
    letter-spacing: 0.009px;
    background: var(--color-bg-layout);
}

.cr-status-card-redirect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 12px 0 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-primary);
    text-align: center;
    letter-spacing: 0.175px;
    gap: 6px;
}

.cr-status-card-redirect-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-primary);
    text-decoration: none;
}

.cr-status-card-redirect-btn:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.cr-status-card-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.cr-status-card-modal-footer-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--color-bg-container);
    text-align: center;
    letter-spacing: 0.175px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    gap: 4px;
    border: none;
}

.cr-status-card-modal-footer-y {
    background: var(--success);
    color: var(--color-bg-container);
}

.cr-status-card-modal-footer-n {
    background: var(--danger-light);
    color: var(--color-bg-container);
}

.cr-status-card-modal-footer-y:hover {
    background: var(--success) !important;
    color: var(--color-bg-container) !important;
}

.cr-status-card-modal-footer-n:hover {
    background: var(--danger-light) !important;
    color: var(--color-bg-container) !important;
}