/* Should be deleted after fix in Icon component */
.item-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  fill: currentColor;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.item-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: -0.1rem;
  margin-right: 0.9rem;

  /* Should be the following after fixing actual SVGs */

  /* margin: calc(calc(var(--icon-size) - 1em) / 2);
  margin-right: calc(1rem - calc(calc(var(--icon-size) - 1em) / 2)); */
}

.list {
  --drawer-item-spacing: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  & .settings {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--gray-300);
    justify-self: flex-end;
  }

  /* https://github.com/csstools/sanitize.css/issues/203 */
  & li::before {
    position: absolute;
    content: '\200B';
  }
}

.validator {
  font-size: 14px;
}
