/* Should be deleted after fix in Icon component */
.item-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  fill: currentColor;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.item-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: -0.1rem;
  margin-right: 0.9rem;

  /* Should be the following after fixing actual SVGs */

  /* margin: calc(calc(var(--icon-size) - 1em) / 2);
  margin-right: calc(1rem - calc(calc(var(--icon-size) - 1em) / 2)); */
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  & .settings {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--gray-300);
    justify-self: flex-end;
  }

  /* https://github.com/csstools/sanitize.css/issues/203 */
  & li::before {
    position: absolute;
    content: '\200B';
  }
}

.arrow-down {
  transform: rotateZ(90deg);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--drawer-item-padding-y) var(--drawer-item-padding-x);
  color: var(--gray-800);
  cursor: pointer;
}

.menu-item:hover {
  color: inherit;
  background: #0000000a;
}

.sub-menu-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0 0 8px;
  border-left: 2px solid #e0e0e0;
}

.sub-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 8px 8px 20%;
  margin: 0 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #616161;
  cursor: pointer;
}

.sub-item:hover {
  color: inherit;
  background: #0000000a;
}

.sub-item-active {
  color: #fff;
  background: #b75400;
  border-radius: 2px;
}

.sub-item-active:hover {
  color: #fff;
  background: #b75400;
}

.item-non {
  color: #616161;
  background: #eee;
}

.item-wrapper {
  width: 100%;
}

.setting-item-wrapper {
  padding-bottom: 5px;
}

.setting-item-wrapper-border {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid var(--gray-300);
}

.disabled {
  color: #616161;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
