.date-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -4px;
  gap: 15px;
}

.separator {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #424242;
  letter-spacing: 0.035px;
}

.date-input {
  position: relative;
  width: 140px;
  height: 40px;
  padding: 8px 16px 8px 20px;
  color: #b75400;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  appearance: textfield;
}

.date-input::-webkit-calendar-picker-indicator {
  display: none;
}

.date-input::after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: block;
  width: 120px;
  height: 40px;
  color: #b75400;
  content: '';
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.date-input[type='date'] {
  border: none;
  color-scheme: dark;
}
