.menu {
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  padding-top: 1rem;
  padding-left: 0;
  margin-top: 0;
  text-align: center;
  list-style: none;
  background: var(--white);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  &.show {
    display: block;
  }

  & > li > * {
    width: 100%;
  }
}

.menu-toggle {
  cursor: pointer;
}

.menu-container-relative {
  position: relative;
}
