.layout-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

@media (max-width: 1400px) {
    .cards-wrapper {
        gap: 24px;
    }
}

@media (max-width: 1200px) {
    .layout-wrapper {
        gap: 22px;
    }

    .cards-wrapper {
        gap: 22px;
    }
}

@media (max-width: 1024px) {
    .layout-wrapper {
        max-width: 100%;
        gap: 20px;
    }

    .cards-wrapper {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .layout-wrapper {
        gap: 16px;
    }

    .cards-wrapper {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 480px) {
    .layout-wrapper {
        gap: 12px;
    }

    .cards-wrapper {
        gap: 12px;
    }
}
