/* stylelint-disable declaration-no-important */
.mapping-input svg {
  fill: var(--gray-500) !important;
}

.mapping-label {
  padding-left: 1rem;
  margin: 2rem 0;
}

.toggle {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
