%item {
  flex: 3 3 90%;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: var(--component-padding-y, 1rem) 0;

  & > * {
    @extend %item;
  }
}

.overview-card {
  flex: 2 2 60%;
  width: 100%;
}

.overview-card-content {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 0 1px;
    min-width: 12rem;
  }
}

.export-card {
  flex: 1 1 30%;
  width: 100%;
}

.doi-table-card {
  flex: 3 3 90%;
  margin-bottom: 0;
  overflow-x: auto;
}

.doi-table {
  /* It would be nice to avoid calc() in the following line */
  width: calc(100% + 2 * var(--card-padding-x));
  margin-right: calc(-1 * var(--card-padding-x));
  margin-left: calc(-1 * var(--card-padding-x));
  overflow-x: auto;
}

.doi-table > table {
  min-width: 55rem;
  table-layout: fixed;

  & th,
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.doi-column {
  width: 30%;
}

.title-column {
  width: 35%;
}

.authors-column {
  width: 35%;
}

.new-icon {
  color: var(--primary);
}
