.main {
  padding-top: var(--component-padding-y, 1rem);
}

.main-wrapper {
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.data-spinner-wrapper {
  display: flex;
  align-items: center;
}

.spinner {
  width: 44px;
  height: 44px;
}

.spinner-text {
  margin: 0 0 0 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #666;
  letter-spacing: 0.021px;
}

.card-icon-warning {
  color: var(--warning);
}

.settings-description-wrapper {
  display: flex;
  padding: 16px;
  background-color: #fdf4cd;
  gap: 10px;
}

.settings-description-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.settings-description-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #212121;
  letter-spacing: 0.022px;
}

.settings-wrapper {
  margin-top: 35px;
}

.header-sub-title {
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #424242;
  letter-spacing: 0.04px;
}

.sw-table-wrapper {
  padding: 34px 24px;
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
  overflow-x: auto;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.action-button {
  min-width: 150px;
  padding: 4px 16px;
  cursor: pointer;
  border: 1px solid #b75400;
  border-radius: 0;
}

.action-button:not(:last-child) {
  border-right: unset;
}

.active-button {
  color: #fff;
  background-color: #b75400;
}

.content-wrapper {
  margin-top: 20px;
}

@media (max-width: 876px) {
  .button-group {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .action-button {
    width: 100%;
    padding: 8px 20px;
  }

  .action-button:not(:last-child) {
    border-right: 1px solid #b75400;
  }
}

.header {
  width: 100%;
  padding: 1rem;
  color: var(--white);
  background: var(--success-dark);
}

.sidebar-header-title {
  margin-bottom: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #212121;
  letter-spacing: 0.024px;
}

.sidebar-auth {
  margin: 16px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #424242;
  letter-spacing: 0.026px;
}

.section-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  border: 1px solid #eee;
  border-radius: 2px;
  gap: 14px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header h6 {
  margin-bottom: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: #616161;
  letter-spacing: 0.056px;
}

.section-wrapper p {
  margin-top: unset;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #212121;
  letter-spacing: 0.024px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

/* temp disable */
.disabled-button {
  color: #9e9e9e;
  cursor: not-allowed;
  background: #fff;
  border-color: #9e9e9e;
}

.disabled-button-dark {
  color: #fff;
  cursor: not-allowed;
  background: #9e9e9e;
  border-color: #9e9e9e;
}

.status-type {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  color: #5a9216;
  letter-spacing: 0.175px;
}

.menu-button {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 999;
}

.picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
  margin-bottom: 20px;
}

.date-title {
  font-size: 14px;
  color: #424242;
}
