.table-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-wrapper {
    display: unset;
}

.table-title {
    margin: 24px 0 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--color-primary);
    letter-spacing: 0.0015em;
}

.show-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.no-show-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.no-show-wrapper .table-title {
    margin-top: 0;
}

.no-show-wrapper .show-icon {
    margin-top: 0;
}

.show-icon {
    margin: 24px 0 12px 8px;
    color: var(--color-primary);
}

.info-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-text-secondary);
    text-align: start;
}

.info-text ul {
    list-style-type: disc;
    margin: 0;
    padding-inline-start: 24px;
}

.info-text p {
    margin:  0 0 24px 12px;
    line-height: 24px;
    letter-spacing: 0.024px;
}

.info-text ul p {
    margin-bottom: 0;
    margin-left: 0;
    line-height: 24px;
    letter-spacing: 0.024px;
}

.hide-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.hide-button {
    line-height: 16px;
    letter-spacing: 0.175px;
}

.data-error-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 12px 0 16px;
    color: var(--color-text-secondary);
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
}

.data-error-inner-wrapper {
    display: flex;
    align-items: flex-start;
}
