.notification-container {
  width: 50%;
}

.disabled {
  cursor: not-allowed;
}

.toggler-text {
  margin-left: 62px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #424242;
  letter-spacing: 0.042px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  margin-top: 10px;
  border-top: 1px solid #b75400;
  border-bottom: 1px solid #b75400;
}
