.main {
  padding-top: var(--component-padding-y, 1rem);
}

.main-wrapper {
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.orcid-table-wrapper {
  margin: 0 var(--component-spacer-x, 1rem) var(--component-spacer-y, 1.5rem);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.action-button {
  min-width: 150px;
  padding: 0.2rem;
  border: 1px solid #b75400;
}
