.container {
  --column-min-width: 32rem;
  @media (--screen-until-desktop) {
    --column-min-width: 20rem;
  }
  display: grid;
  grid-gap: 1.5rem 2rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);
}

.harvesting-card-wrapper {
  width: 50%;
}

.metadata {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.metadata-items {
  width: 50%;
}

.chart {
  max-width: 12.5rem;
  background-color: var(--white);
}

.error-wrapper {
  display: flex;
  align-items: center;
  height: 110px;
}

.errors-info {
  font-size: 1.2em;
  color: var(--gray-700);
}

.metadata-item {
  margin-bottom: 30px;
}

.errors-count {
  color: var(--danger-light);
}

.harvesting-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-option {
  margin-bottom: 64px;
}

.error-message {
  margin-bottom: 35px;
}

.error-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
  gap: 8px;
}

.error-image {
  padding: 5px;
  background: rgba(255, 95, 82, 0.1);
  border-radius: 2px;
}

.mai-title {
  margin-bottom: 0;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper span {
  margin-right: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  width: 15px;
  height: 15px;
  animation: spin 1.5s linear infinite;
}

.request-date-wrapper {
  display: flex;
  flex-direction: column;
}

.status-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 12px;
}

.status {
  margin-left: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #666;
  letter-spacing: 0.024px;
}

.status-description {
  padding: 10px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border {
  width: 90px;
  border: 1px dashed #b75400;
}

.progress-item {
  display: flex;
}

.popover {
  max-width: 20rem;
  cursor: pointer;
}

.progress-circle {
  width: 23px;
  height: 23px;
  margin-right: 8px;
  background: #fff;
  border: 2px solid #b75400;
  border-radius: 50%;
}

.progress-circle-active {
  background: #b75400;
}

.progress-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #9e9e9e;
  letter-spacing: 0.024px;
}

.progress-text-active {
  color: #212121;
}

.issues-card {
  grid-column: 1 / -1;
  border-top: 3px solid var(--primary);

  /* background-color: #fff; */
}

.issues-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.issues-card-title {
  display: flex;
  align-items: center;
}

.issues-card-errors-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  line-height: 30px;
  color: var(--white);
  text-align: center;
  border-radius: 50%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action-button {
  min-width: 150px;
  padding: 0.2rem;
}

.type-card {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
}

.type-card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--gray-100);
}

.type-card-section:nth-child(1) {
  padding-right: 1rem;
  border-right: 1px dashed var(--primary);
}

.type-card-header {
  display: flex;
}

.card-icon-warning {
  color: var(--warning);
}

.card-icon-error {
  color: var(--danger-light);
}

.card-icon-debug {
  color: #2a51aa;
}

.card-icon-comment {
  color: #f5bb95;
}

.type-card-title {
  margin: 0 1rem;
}

.type-card-actions {
  display: flex;
  gap: 1rem;
}

.types-list {
  display: grid;
  gap: 1rem;
}

.type-card-count {
  align-self: flex-start;
  padding: 0.4rem 0.5rem 0.3rem 0;
}

.type-card-count span {
  padding: 0.5rem;
  font-weight: 600;
}

.type-card-count-warning {
  background-color: rgba(225, 201, 74, 0.2);
}

.issues-card-errors-count-warning,
.type-card-count-warning span {
  background-color: var(--warning);
}

.type-card-count-error {
  background-color: rgba(255, 95, 82, 0.15);
}

.issues-card-errors-count-error,
.type-card-count-error span {
  color: #fff;
  background-color: var(--danger-light);
}

.type-card-count-debug {
  background-color: rgba(42, 81, 170, 0.14);
}

.issues-card-errors-count-debug,
.type-card-count-debug span {
  color: #fff;
  background-color: #2a51aa;
}

.type-card-hidden {
  display: none;
}

.modal-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.01px;
}

.input {
  width: 100%;
  height: 102px;
  margin-bottom: 4px;
}

.word-count {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #424242;
  letter-spacing: 0.035px;
}
