.container {
  --column-min-width: 32rem;
  @media (--screen-until-desktop) {
    --column-min-width: 20rem;
  }
  display: grid;
  grid-gap: 1.5rem 2rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: var(--component-padding-y, 1rem) var(--component-padding-x, 1rem);
}

.metadata {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.chart {
  max-width: 12.5rem;
  background-color: var(--white);
}

.errors-info {
  font-size: 1.2em;
  color: var(--gray-700);
}

.errors-count {
  color: var(--danger-light);
}

.issues-card {
  grid-column: 1 / -1;
  border-top: 3px solid var(--primary);

  /* background-color: #fff; */
}

.issues-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.issues-card-title {
  display: flex;
  align-items: center;
}

.issues-card-errors-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  line-height: 30px;
  color: var(--white);
  text-align: center;
  border-radius: 50%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action-button {
  min-width: 150px;
  padding: 0.2rem;
}

.type-card {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
}

.validation-list-item {
  margin: 24px 0;
}

.type-card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--gray-100);
}

.type-card-section:nth-child(1) {
  padding-right: 1rem;
  border-right: 1px dashed var(--primary);
}

.card-wrapper .type-card-header {
  margin-bottom: 14px;
}

.type-card-header {
  display: flex;
}

.card-icon-warning {
  color: var(--warning);
}

.card-icon-error {
  color: var(--danger-light);
}

.card-icon-debug {
  color: #2a51aa;
}

.card-icon-comment {
  color: #f5bb95;
}

.type-card-title {
  margin: 0 1rem;
}

.type-card-actions {
  display: flex;
  gap: 1rem;
}

.types-list {
  display: grid;
  gap: 1rem;
}

.type-card-count {
  align-self: flex-start;
  padding: 0.4rem 0.5rem 0.3rem 0;
}

.type-card-count span {
  padding: 0.5rem;
  font-weight: 600;
}

.type-card-count-warning {
  background-color: rgba(225, 201, 74, 0.2);
}

.issues-card-errors-count-warning,
.type-card-count-warning span {
  background-color: var(--warning);
}

.type-card-count-error {
  background-color: rgba(255, 95, 82, 0.15);
}

.issues-card-errors-count-error,
.type-card-count-error span {
  color: #fff;
  background-color: var(--danger-light);
}

.type-card-count-debug {
  background-color: rgba(42, 81, 170, 0.14);
}

.issues-card-errors-count-debug,
.type-card-count-debug span {
  color: #fff;
  background-color: #2a51aa;
}

.type-card-hidden {
  display: none;
}

.validation-card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--gray-100);
}
