.status-wrapper {
  max-width: 850px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.status-row .title,
.status-row .counter {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.0006em;
  background-color: #f5f5f5;
}

.status-row .title {
  padding-left: 20px;
  text-align: left;
}

.status-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.status-row > div:nth-child(1),
.status-row > div:nth-child(3) {
  width: 5%;
  text-align: center;
}

.status-row > div:nth-child(2) {
  width: 83%;
}

.status-row > div:nth-child(3) {
  width: 8%;
}

.description {
  padding: 20px 0;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  letter-spacing: 0.003em;
}

.prefix {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.0006em;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

.stat {
  padding-left: 10px;
}

.stat-text {
  padding-left: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 41.6px;
  text-align: left;
}

.status-success {
  color: #5a9216;
  background-color: #ecf6df;
}

.status-fail {
  color: #c62828;
  background-color: #fcc;
}

.status {
  padding: 15px 5px;
  font-weight: 500;
}

/*  ==== */
.chart-percent {
  color: #fff;
  font-size: 22px;
  line-height: 2.2rem;
  font-weight: 700;
  padding: 0 25px;
}

.chart-row {
  margin: 0 0 10px;

  --chart-border-radius: 2px;
  display: flex;
  height: 2.2rem;
  background: #fef5ef;
}

.chart-bar {
  min-width: 2px;
  height: 100%;
  background-color: var(--gray-700);
  border: solid var(--gray-200);
  border-width: 0 1px;
  transition: filter 250ms;

  &:first-child {
    border-left: 0;
    border-top-left-radius: var(--chart-border-radius);
    border-bottom-left-radius: var(--chart-border-radius);
  }

  &:last-child,
  &:nth-last-child(2) {
    border-right: 0;
    border-top-right-radius: var(--chart-border-radius);
    border-bottom-right-radius: var(--chart-border-radius);
  }

  &:last-child {
    background: transparent;
    filter: none;
  }

  &:hover {
    filter: brightness(120%);
  }
}

.chart-bar.base {
  background-color: var(--primary);
}

.chart-bar.loading-bar {
  background-color: var(--gray-500);
}
