.container {
  --numeral-value-sm-size: 2em;
  --numeral-value-ex-sm-size: 1.5em;
  --title-value-md-size: 1.2em;
  --numeral-value-md-size: 3em;
  --numeral-value-lg-size: 4em;
  --numeral-value-size: var(--numeral-value-md-size);
  --font-weight-bold: 400;

  /* For the future */
}

.caption,
.title {
  display: block;
}

.title {
  margin-bottom: 0.5rem;
  font-size: var(--title-value-md-size);
  color: var(--gray-700);
}

.appendix {
  font-size: calc(0.75 * var(--numeral-value-size, 2em));
  font-weight: var(--numeral-value-weight, 300);
  line-height: 1;
  vertical-align: baseline;
}

.value {
  font-size: var(--numeral-value-size, 2em);
  font-weight: var(--numeral-value-weight, 300);
  line-height: 1;
}

.diff {
  vertical-align: top;
}

.small {
  --numeral-value-size: var(--numeral-value-sm-size);
}

.extra-small {
  --numeral-value-size: var(--numeral-value-ex-sm-size);
}

.large {
  --numeral-value-size: var(--numeral-value-lg-size);
}

.bold {
  font-weight: var(--font-weight-bold);
}
